{% set page_key = page_key|default('page') %}
{% set query_params = query_params|default({}) %}

{% set hash_suffix = hash is defined and hash ? '#' ~ hash : '' %}

{% if total_pages > 1 %}
    <nav class="my-5">
    <ul class="pagination justify-content-center">
        {% set prev_qs = query_params|merge({(page_key): current_page - 1})|url_encode %}
        <li class="page-item {{ current_page <= 1 ? 'disabled' : '' }}">
            <a class="page-link" href="{{ base_url }}?{{ prev_qs }}{{ hash_suffix }}">{{ trans('pagination.previous') }}</a>
        </li>

        {% for i in 1..total_pages %}
            {% set page_qs = query_params|merge({(page_key): i})|url_encode %}
            <li class="page-item {{ i == current_page ? 'active' : '' }}">
                <a class="page-link" href="{{ base_url }}?{{ page_qs }}{{ hash_suffix }}">{{ i }}</a>
            </li>
        {% endfor %}

        {% set next_qs = query_params|merge({(page_key): current_page + 1})|url_encode %}
        <li class="page-item {{ current_page >= total_pages ? 'disabled' : '' }}">
            <a class="page-link" href="{{ base_url }}?{{ next_qs }}{{ hash_suffix }}">{{ trans('pagination.next') }}</a>
        </li>
    </ul>
</nav>
{% endif %}
